header {
    color: #fff;
    background-image: url(https://images.unsplash.com/photo-1592609931095-54a2168ae893?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: 100% 100%;
    padding: 5%;
    border 0;
}

h1 {
    margin-left: 0%;
}

nav {
    background-color: #FFB748;
    font-size: larger;
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
/* links have the same color whether they have been clicked or not */
a:visited, a:link {
    color: #0051AA;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration:line-through;
}

body {
    margin: 0;
    background-color: #000000;
}

h2, .info {
    font-style: italic;
    color: #8347C3;
    margin-left: 3%;
    border-top: #01FE87 solid;
}

.avatar {
    margin: 0 auto;
    width: 30%;
    display: block;
    background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-size: 100% 100%;
}

p {
    text-align: left;
    color: #eaf070;
    margin: auto 4%;
}

/* main image */
.img-container {
    position: relative;
    width: 550px;
    }
/* two remaining images */
.img-containers {
    position: relative;
    width: 275px;
}

.image, .images{
    width: 100%;
    border: 10px #eaf070 solid;
}

.container, .container2 {
    display: flex;
    justify-content: center;
}

/* positions text over picture and cotrols style of text */
.bottom-right {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #FA7D8F;
    background-color: #8347C3;
    opacity: .6;
    padding: 2.5% 5%;
    bottom: 15px;
    right: 30px;
}

/* created space between bottom navagiation elements */
.space {
    margin: 50px;
}

@media screen and (max-width: 815px) {
/* changed background color to show transition to smaller screen size*/
body{
    background-color: white;
        
}

h1 {
    background-color: #fff;
    color: #000000;
    opacity: .6;
}

p {
    color: #FA7D8F;
}
}

@media screen and (max-width: 600px) {
/* resized images to accommodate smaller screens */
.img-container {
    position: relative;
    width: 400px;
}
.img-containers {
    position: relative;
    width: 200px;
}
}