header {
    color: #fff;
    background-image: url(https://images.unsplash.com/photo-1592609931095-54a2168ae893?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: 100% 100%;
    padding: 5%;
    border 0;
}

h1 {
    margin-left: 0%;
}

nav {
    background-color: #FFB748;
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

body {
    margin: 0;
    background-color: #000000;
}

h2, .info {
    font-style: italic;
    color: #8347C3;
    margin-left: 3%;
    border-top: #01FE87 solid;
}

p {
    text-align: center;
}

.img-container {
    position: relative;
    width: 550px;
    }

.img-containers {
    position: relative;
    width: 275px;
}

.image, .images{
    width: 100%;
    border: 5px #eaf070 solid;
}

.container, .container2 {
    display: flex;
    justify-content: center;
}
    
.bottom-right {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #8347C3;
    opacity: .6;
    padding: 2.5% 5%;
    bottom: 15px;
    right: 30px;
}

.space {
    margin-right: 100px;
}